
/* vh verticle height */
.pulse-circle {
  width: 30px;
  height: 30px;
 border-radius: 50%;
  background-color: white;
  transform: translateX(-50%) translateY(-50%);
}

.dot1{position: absolute;
width: 20px;
height: 20px;
left: 110px;
top: 725px;
}
.dot2{
  position: absolute;
width: 20px;
height: 20px;
left: 431px;
top: 725px;
}
.dot3{
  position: absolute;
width: 20px;
height: 20px;
left: 752px;
top: 725px;
}
/* needs fixing */
.vector37{

  width: 67px;
  height: 219px;
  left: 1259px;
  top: 735px;
  
  border: 2px solid #FFFFFF;

  position: absolute;
} 

/* needs aligning */
.scrollformore{
  position: absolute;
width: 176px;
height: 19px;
left: 1204px;
top: 983px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 120%;
/* or 19px */

letter-spacing: 0.16em;

color: #FFFFFF;
}


.pulsating-circle {
  position: absolute; 
   /* left: 50%;
  top: 50%;  */
   transform: translateX(-50%) translateY(-50%); 
  /* width: 30px; 
  height: 30px; */
}
.pulsating-circle:before {
  content: '';
  position: relative;
  display: block;
  width: 300%;
  height: 300%; 
  box-sizing: border-box;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 45px;
  background-color: #01a4e9;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.pulsating-circle:after {
  content: '';
   position: absolute; 
  left: 0; 
  top: 0; 
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
}


.imagebackground{
  position: absolute;
  width: 1440px;
  height: 971px;
  left: 0px;
  top: 115px;
 

}
.vector35{
  position: absolute;
  width: 982px;
  height: 0px;
  left: 0px;
  top: 735px;
  border: 1px;
}


@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}
.heading{
  position: absolute;
width: 635px;
height: 288px;
left: 60px;
top: 207px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 300;
font-size: 80px;
line-height: 120%;
/* or 96px */

letter-spacing: -0.02em;

color: #FFFFFF;
}
.contactBtn{
  display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;

position: absolute;
width: 228px;
height: 45px;
left: 60px;
top: 545px;

background: #42C7E5;
border-radius: 2px;
letter-spacing: 0.16em;
text-transform: uppercase;
text-decoration: none;
text-align: center;
}
.title1{
  position: absolute;
width: 200px;
height: 70px;
left: 110px;
top: 775px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 35px;
/* or 117% */

letter-spacing: -0.02em;

color: #FFFFFF;
}
.title2{
  position: absolute;
width: 200px;
height: 70px;
left: 431px;
top: 775px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 35px;
/* or 117% */

letter-spacing: -0.02em;

color: #FFFFFF;

}
.title3{
  position: absolute;
width: 200px;
height: 70px;
left: 752px;
top: 775px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 35px;
/* or 117% */

letter-spacing: -0.02em;

color: #FFFFFF;
}

.excerptstyle{
  position: absolute;
width: 200px;
height: 100px;
left: 110px;
top: 865px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 25px;
/* or 139% */


color: #FFFFFF;
}

.excerptstyle2{
  position: absolute;
  width: 200px;
  height: 100px;
  left: 431px;
  top: 865px;
  
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  /* or 139% */
  
  
  color: #FFFFFF;
}
.excerptstyle3 {
  position: absolute;
width: 200px;
height: 100px;
left: 752px;
top: 865px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 25px;
/* or 139% */


color: #FFFFFF;
}

.lbl1{display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  
  position: absolute;
  width: 158px;
  height: 30px;
  left: 110px;
  top: 980px;
  
  background: #42C7E5;
  border-radius: 2px;}
.lbl2{display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  
  position: absolute;
  width: 156px;
  height: 30px;
  left: 431px;
  top: 980px;
  
  background: #42C7E5;
  border-radius: 2px;}
.lbl3{display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  
  position: absolute;
  width: 193px;
  height: 30px;
  left: 752px;
  top: 980px;
  
  background: #42C7E5;
  border-radius: 2px;}